$theme-darken: #171a20;
$theme-dark: #33353a;
$theme-grey: #45474B;

$theme-darken-color: #003816;
$theme-dark-color: #01461c;
$theme-color: #01963A;

$theme-light: #F5F7F8;

$dark-error: #ff000078;
$error: #ff00004f;

$dark-warn: #eda80f96;
$warn: #eda80f96;

$dark-info: #0065ff57;
$info: #005bff4a;

$border-radius: 10px;